#app {
    padding: 50px;
    header {
        display: flex; justify-content: space-between; align-items: center;
        border-bottom: 1px dotted white;
        margin-bottom: 20px; padding-bottom: 20px;
    }
}
